@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-weight: lighter;
}
body{
    background-color:#f7f7f7;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 5vw;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: larger;
    margin-left: auto;
    padding: 0 20px;
    font-weight: bolder;
}
/* Loader */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    margin-top: 20vh;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* Loader-end */
.container{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 4px;
    margin-left: auto;
}
.container .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    padding: 20px;
    width:30vw;
    background-color: white;
    border: 1px solid rgba(40, 38, 38,0.2);
}
.item h3{
    font-weight: bold;
    font-size: 25px;
}
.item .price{
    font-weight: bolder;
    text-shadow: 1px white;
    font-size: 25px;
    background-color: black;
    padding: 4px 24px;
    border-radius: 24px;
    color: white;
    margin-top: auto;
    cursor: pointer;
}
.item .rating span{
    color: rgb(37, 37, 218);
    padding: 0 4px;
}
.item img{
    height: 180px;
    width: 250px;
    padding: 10px;
}

.container .terms{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:430px) {
    .container{
        flex-direction: column;
        align-items: center;

    }
   .container .item{
        width: 90vw;
    }
    
}