* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, purple, rgb(51, 4, 51));
    background-repeat: no-repeat;
    background-size: contain;
}

h3 {
    text-align: center;
    background-color: black;
    padding: 1vh 2vw;
    margin-bottom: 8px;
    color: white;
}

.container {
    background-color: rgba(255, 228, 196,0.7);
    font-size: large;
    margin: 0 auto;
    max-width: 40vw;
    min-width: fit-content;
    height: fit-content;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

label{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:4px;
    flex-direction: column;
}

.container button[type="submit"]{
    height: 5vh;
    width: 10vw;
    background-color: black;
    color: white;
    align-self: center;
    cursor: pointer;
}

.container input {

    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 4px;
    height: 20px;
    width: 40vw;
}

.container input:focus{
    outline: 2px solid darkblue;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.terms{
    display: flex;
    gap:4px;

}
.terms input{
    width: unset;
}
span{
    font-size: small;
}
@media screen and (max-width:430px) {
    label{
        display: flex;
        flex-direction: column;
    }
    body{
        height: unset;
    }
    .container{
        align-items: flex-start;
        height: unset;
        justify-content: flex-start;
        height: 100vh;
    }
    .container input{
        width: 80vw;
    }
    .container .terms input{
        width: unset;
    }
    .container button[type="submit"]{
        height: 5vh;
        width: 50vw;
      
    }
}

