*{
    padding: 0;
    margin:0;
}

header{
    padding:2vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
/* Loader */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    
    margin-top: 20vh;
    margin-left: 48vw;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* Loader-end */

body{
    background-color:#f7f7f7;
}

.container{
    margin: auto;
    display: flex;
    height: auto;
    gap:12px;
    flex-wrap: wrap;
    justify-content:flex-start;
    
}
.name{
    display: flex;
    
}
.item {
    display: flex;
    width: 28vw;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    gap:4px;
    flex-direction: column;
    background-color:bisque;
    border: 1px solid rgba(0, 0, 0,0.4);
    border-radius: 6px;
}

@media screen and (max-width:800px) {
    
    .container{
        flex-direction: column;
    }
    .item{
        width: unset;
    }
    .lds-dual-ring:after{
        margin-left: 40vw;
    }
}